<main>
  <div>
    <h1>Dark Transit</h1>
  </div>

  <!-- <div>
    <input type="text">
    <button>Ni Hao</button>
  </div> -->

  <div>
    
    <p>{{busInfo.shortName}}: ( {{busInfo.longName}} )</p>
    <p>Directions</p>

    <div *ngFor="let direction of busInfo.directions; index as i">
      <p (click)="getDetails(i)">To {{direction.destination}}</p>
      

      <div *ngIf="expandFrom && i == 0">
        <div *ngFor="let stop of fromStops.stops">
          {{stop.name}}
        </div>
      </div>

      <div *ngIf="expandBack && i == 1">
        <div *ngFor="let stop of backStops.stops">
          {{stop.name}}
        </div>
      </div>

    </div>

  </div>

</main>