/* You can add global styles to this file, and also import other style files */
body {
    background-color: #222222;
    color: #CACACA;
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 150%;
    text-align: center;
    color: #999999;
    font-family: 'Monoton', cursive;
}