<main>
  <div>
    <h1>Dark Transit</h1>
    <!-- <img src="../../assets/logo.png" alt="Dark Transit"> -->
  </div>

  <div>
    <input type='text' (keyup.enter)="searchRoute()" [(ngModel)]="busId"><button (click)="searchRoute()">Search</button>
  </div>


  <div *ngIf="searchFlag">

    <div id="full-name">{{busInfo.longName}}</div>

    <div *ngFor="let direction of busInfo.directions; index as i">
      <p class="travel-direction" (click)="getDetails(i)"> <i class="fas fa-chevron-right"></i> To {{direction.destination}}</p>


      <div class="travel-info">
        <div *ngIf="expandFrom && i == 0">
          <div *ngFor="let stop of fromStops">
            <p routerLink='stop/{{stop.id}}'><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; {{stop.name}} &nbsp;
              <span [ngStyle]="{'color':'white', 'font-weight':'bold'}" *ngIf="busDictionary[stop.id] !== undefined">
                <i class="fa fa-bus" aria-hidden="true"></i>
                {{busDictionary[stop.id]['stopDesc']}}
              </span>
            </p>
          </div>
        </div>

        <div *ngIf="expandBack && i == 1">
          <div *ngFor="let stop of backStops">
            <p routerLink='stop/{{stop.id}}'><i class="fa fa-arrow-right" aria-hidden="true"></i> &nbsp; {{stop.name}} &nbsp;
              <span [ngStyle]="{'color':'white', 'font-weight':'bold'}" *ngIf="busDictionary[stop.id] !== undefined">
                <i class="fa fa-bus" aria-hidden="true"></i>
                {{busDictionary[stop.id]['stopDesc']}}
              </span>
            </p>
          </div>
        </div>

      </div>

      <button (click)='refresh()'>Refresh</button>

    </div>

  

  </div>

</main>